<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Academy_JSP_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>UserMakeFriendServlet</servlet-name>
  	<servlet-class>servlet.user.UserMakeFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserMakeFriendServlet</servlet-name>
  	<url-pattern>/makeFriend</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserFriendListServlet</servlet-name>
  	<servlet-class>servlet.user.UserFriendListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserFriendListServlet</servlet-name>
  	<url-pattern>/friendList</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserRegisterServlet</servlet-name>
  	<servlet-class>servlet.user.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserRegisterServlet</servlet-name>
  	<url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ChatSubmitServlet</servlet-name>
  	<servlet-class>servlet.chat.ChatSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChatSubmitServlet</servlet-name>
  	<url-pattern>/chatSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ChatListServlet</servlet-name>
  	<servlet-class>servlet.chat.ChatListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChatListServlet</servlet-name>
  	<url-pattern>/chatListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<servlet-class>servlet.user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ChatBoxServlet</servlet-name>
  	<servlet-class>servlet.chat.ChatBoxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChatBoxServlet</servlet-name>
  	<url-pattern>/chatBox</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserUpdateServlet</servlet-name>
  	<servlet-class>servlet.user.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserUpdateServlet</servlet-name>
  	<url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserProfileServlet</servlet-name>
  	<servlet-class>servlet.user.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserProfileServlet</servlet-name>
  	<url-pattern>/userProfile</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BoardWriteServlet</servlet-name>
  	<servlet-class>servlet.board.BoardWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BoardWriteServlet</servlet-name>
  	<url-pattern>/boardWrite</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BoardUpdateServlet</servlet-name>
  	<servlet-class>servlet.board.BoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BoardUpdateServlet</servlet-name>
  	<url-pattern>/boardUpdate</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>BoardDeleteServlet</servlet-name>
  	<servlet-class>servlet.board.BoardDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BoardDeleteServlet</servlet-name>
  	<url-pattern>/boardDelete</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BoardReplyServlet</servlet-name>
  	<servlet-class>servlet.board.BoardReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BoardReplyServlet</servlet-name>
  	<url-pattern>/boardReply</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BoardShowSevrlet</servlet-name>
  	<servlet-class>servlet.board.BoardShowSevrlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BoardShowSevrlet</servlet-name>
  	<url-pattern>/boardShow</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>OpenChatEnterServlet</servlet-name>
  	<servlet-class>servlet.chat.OpenChatEnterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OpenChatEnterServlet</servlet-name>
  	<url-pattern>/openChatEnter</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>OpenChatCreateServlet</servlet-name>
  	<servlet-class>servlet.chat.OpenChatCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OpenChatCreateServlet</servlet-name>
  	<url-pattern>/openChatCreate</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>OpenChatSubmitServlet</servlet-name>
  	<servlet-class>servlet.chat.OpenChatSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OpenChatSubmitServlet</servlet-name>
  	<url-pattern>/openChatSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>OpenChatListServlet</servlet-name>
  	<servlet-class>servlet.chat.OpenChatListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OpenChatListServlet</servlet-name>
  	<url-pattern>/openChatList</url-pattern>
  </servlet-mapping>
</web-app>